@charset "UTF-8";

html {
    font-size: 62.5%;

}

body { /*#3D7AFD #1B2431*/
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
    background-color: #fff;
    
    padding-bottom: 30rem;
    
    width: auto;
    min-height: 100vh;

}

#image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}


#android {
    width: 50rem;
}




.paragraphs {
    flex-wrap: wrap;
    width: 80rem;
    height: 37rem;
    background-color: transparent;
}

.paragraphs h1 {
    font-size: 4rem;
    font-family: 'Abril Fatface', cursive;
}

.paragraphs p {
    font-size: 2rem;
    font-family: 'Cormorant Garamond', serif;
}

.paragraphs ul li {
    font-size: 1.6rem;
    font-family: 'Cormorant Garamond', serif;
}

#list02 {
    margin-top: 1rem;
}

#border {
    /* border: 1rem solid black; */
}

#choose {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 2rem;
    
    width: 80rem;
    height: 12rem;
}
#choose span{
    font-size: 4rem;
    font-family: 'Abril Fatface', cursive;

}

#area-buttons {
    margin-top: 5rem;
}

.btn {
    width: 12rem;
    height: 5rem;
    font-size: 2rem;
}

.arrow-left {
    display: flex;
    justify-content: space-between;
}

.bar {
    font-size: 2rem;
    height: 4rem;
    width: .2rem;
    background-color: black;
}

#bar01 {
    position: relative;
    top: 2rem;
    left: 1.9rem;
    transform: rotate(90deg);
}

#bar03 {
    position: relative;
    top: 2rem;
    left: -1.9rem;
    transform: rotate(-90deg);

}

#bar06 {
    position: relative;
    top: -2rem;
    left: 1.9rem;
    transform: rotate(-90deg);
}

#bar08 {
    position: relative;
    top: -2rem;
    left: -1.9rem;
    transform: rotate(-90deg);
}








